h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
    padding: 10px;
    margin-bottom: 20px;
}

.navlink {
    font-family: 'Oswald', sans-serif;
}

a {
    font-family: 'Oswald', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
}

.navbar-nav {
    font-family: 'Roboto', sans-serif;
    box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.2);
}